.empower {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 24px;
  text-align: center;
  row-gap: 44px;
}

h1 {
  font-family: var(--font-heading);
  font-size: var(--h3-large-size);
  font-weight: 400;
  color: var(--san-julian-blue);
  line-height: 36px;
  margin: auto;
  max-width: 327px;
  width: 100%;
}

.heading-break {
  display: block;
}

h2 {
  font-family: var(--font-heading);
  font-size: var(--h4-size);
  font-weight: 400;
  color: var(--san-julian-blue);
  margin: 0;
  padding-bottom: 8px;
}

.about-text {
  font-family: var(--font-body);
  font-size: var(--body-font-size);
  font-weight: 500;
  color: var(--light-san-julian-blue);
  line-height: var(--body-line-height);
  margin: 0;
  padding-bottom: 19px;
  max-width: 327px;
  width: 100%;
}

.statistics {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  padding-top: 65px;
  padding-bottom: 48px;
  margin-bottom: 5px;
  gap: 13px;
}

.line-tablet {
  display: none;
}

.statistics .about-image {
  width: 100%;
}

.statistics .about-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.line-mobile {
  width: 87.2%;
  height: 1px;
  color: var(--light-san-julian-blue);
  margin-top: 48px;
  margin-bottom: 4px;
  opacity: 0.25;
}

.stat-name {
  font-family: var(--font-body);
  font-size: 16px;
  font-weight: 500;
  color: var(--san-julian-blue);
  line-height: var(--body-line-height);
  margin: 0;
  padding-top: 13px;
  padding-bottom: 21px;
  opacity: 0.7;
}

.number {
  font-family: var(--font-heading);
  font-size: var(--h1-small-size);
  font-weight: 400;
  color: var(--dark-pink);
  min-height: 77px;
  margin: 0;
}

.statistics hr:last-child {
  margin-top: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  /* clip: rect(0, 0, 0, 0); */
  white-space: nowrap;
  border: 0;
}

:focus-visible {
  outline: 3px solid #ba4270;
  outline-offset: 3px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .empower {
    padding-right: 0;
    padding-left: 0;
  }

  h1 {
    font-family: var(--font-heading);
    font-size: var(--h2-size);
    font-weight: 400;
    letter-spacing: -0.37px;
    color: var(--san-julian-blue);
    line-height: 56px;
    margin: auto;
    max-width: 573px;
  }

  .about {
    display: flex;
    align-items: flex-start;
    max-width: 689px;
    width: 100%;
    margin: 0 auto;
  }

  h2 {
    flex: 0 0 223px;
    width: 203px;
    margin: 0;
  }

  .about-text {
    flex: 0 0 485px;
    max-width: 485px;
    margin-left: 2px;
    margin-top: 0;
    margin-right: 40px;
    padding: 0;
    line-height: 28px;
    text-align: left;
  }

  .statistics {
    gap: 0;
    width: 100%;
    margin: 0;
    padding-top: 72px;
    padding-bottom: 62px;
  }

  .statistics .mobile-about-image {
    display: none;
  }

  .statistics .tablet-about-image {
    display: block;
    width: 100%;
    height: 267px;
    object-fit: cover;
    padding-bottom: 63px;
  }

  .displayed-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 136px;
    margin: 0;
    padding-left: 39px;
  }

  .stat-group {
    max-width: 223px;
    width: 100%;
    margin: 0;
    text-align: left;
  }

  .line-mobile {
    display: none;
  }

  .line-tablet {
    display: block;
    width: 223px;
    height: 1px;
    color: var(--light-san-julian-blue);
    margin: 0;
    opacity: 0.25;
  }

  .stat-name {
    padding-top: 17px;
  }

  .about:last-child {
    padding-bottom: 58px;
  }
}

@media (min-width: 1440px) {
  .empower {
    padding-right: 0;
    padding-left: 0;       
  }

  h1 {
    font-family: var(--font-heading);
    font-size: var(--h1-small-size);
    font-weight: 400;
    letter-spacing: -0.43px;
    color: var(--san-julian-blue);
    line-height: 56px;
    margin-left: 260px;
    max-width: 730px;
    min-height: 189px;
    text-align: left;
  }

  .about {
    display: flex;
    align-items: flex-start;
    max-width: 920px;
    width: 100%;
    margin-left: 0;
  }

  h2 {
    flex: 0 0 285px;
    width: 285px;
    margin: 0;
    text-align: left;
    font-size: var(--h3-large-size);
  }

  .about-text {
    flex: 0 0 635px;
    max-width: 635px;
    margin-left: 0px;
    margin-top: 0;
    margin-right: 0px;
    padding: 0;
    line-height: 28px;
    text-align: left;
    letter-spacing: -0.3px;
  }

  .statistics {
    gap: 0;
    width: 100%;
    margin: 0;
    padding-top: 72px;
    padding-bottom: 62px;
    
  }

  .statistics .mobile-about-image {
    display: none;
  }

  .statistics .tablet-about-image {
    display: none;
  }

  .statistics .desktop-about-image {
    display: block;
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin-bottom: 72px;    
  }

  .middle::after {
    content: "";
    position: absolute;    
    top: 572px;
    left: -520px;
    width: 780px;
    height: 780px;
    background: url("/assets/shared/desktop/bg-pattern-circle.svg") no-repeat
      left/ cover;
    z-index: 0;
  }

  .displayed-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 136px;
    margin-left: 165px;
    gap: 30px;
  }

  .stat-group {
    max-width: 350px;
    width: 100%;
    margin: 0;
    text-align: left;
  }

  .line-mobile {
    display: none;
  }

  .line-tablet {
    display: block;
    width: 350px;
    height: 1px;
    color: var(--light-san-julian-blue);
    margin: 0;
    opacity: 0.25;
  }

  .stat-name {
    padding-top: 17px;
  }

  .about:last-child {
    padding-bottom: 3px;
  }


}