.empower {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 24px;
  text-align: center;
  row-gap: 44px;
}

h1 {
  font-family: var(--font-heading);
  font-size: var(--h3-large-size);
  font-weight: 400;
  color: var(--san-julian-blue);
  line-height: 36px;
  margin: auto;
  width: 327px;
}

h2 {
  font-family: var(--font-heading);
  font-size: var(--h4-size);
  font-weight: 400;
  color: var(--san-julian-blue);
  margin: 0;
  padding-bottom: 8px;
}

.about-text {
  font-family: var(--font-body);
  font-size: var(--body-font-size);
  font-weight: 500;
  color: var(--light-san-julian-blue);
  line-height: var(--body-line-height);
  margin: 0;
  padding-bottom: 19px;
  width: 327px;
}

.statistics {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  padding-top: 65px;
  padding-bottom: 48px;
  margin-bottom: 5px;
  gap: 13px;
}

.statistics .mobile-about-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.line-tablet,
.statistics .tablet-about-image,
.statistics .desktop-about-image {
  display: none;
}

.line-mobile {
  width: 87.2%;
  height: 1px;
  color: var(--light-san-julian-blue);
  margin-top: 48px;
  margin-bottom: 4px;
  opacity: 0.25;
}

.stat-name {
  font-family: var(--font-body);
  font-size: 16px;
  font-weight: 500;
  color: var(--san-julian-blue);
  line-height: var(--body-line-height);
  margin: 0;
  padding-top: 13px;
  padding-bottom: 21px;
  opacity: 0.7;
}

.number {
  font-family: var(--font-heading);
  font-size: var(--h1-small-size);
  font-weight: 400;
  color: var(--dark-pink);
  height: 77px;
  margin: 0;
}

.statistics hr:last-child {
  margin-top: 0;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .empower {
    padding-right: 0;
    padding-left: 0;;
  }
  
  h1 {
    font-family: var(--font-heading);
    font-size: var(--h2-size);
    font-weight: 400;
    letter-spacing: -0.37px;
    color: var(--san-julian-blue);
    line-height: 56px;
    margin: auto;
    width: 573px;
  }

  .about {
    /* display: flex;
    flex-direction: row; */
    /* justify-content: flex-start; */
    /* margin: 0;
    padding-left: 0px;
    max-width: 689px;
    width: 100%;
    padding-bottom: 28px; */
    /* column-gap: 10px; */
    /* align-items: flex-start;
    gap: 32px; */
    display: flex;
    align-items: flex-start;
    max-width: 689px;
    width: 100%;
    margin: 0 auto;
  }

  h2 {
    /* font-size: var(--h3-large-size);
    text-align: left;
    width: 223px;
    line-height: 44px; */
    flex: 0 0 223px;        /* title column */
    width: 203px;
    margin: 0;
  }

  .about-text {
    /* max-width: 456px;
    width: 100%;*/
    /* text-align: left;
    margin: 0 0 0 0;
    letter-spacing: 0px;
    line-height: 28px;
    font-weight: 400; 
    flex: 1;                /* take remaining space */
  /* max-width: none;
  width: auto; */ 
   flex: 0 0 485px;        /* paragraph column */
    max-width: 485px;
    margin-left: 2px;      /* gap between columns */
    margin-top: 0;
    margin-right: 40px;
    padding: 0;
    line-height: 28px;
    text-align: left;
  }

  .statistics {
    gap: 0;
    width: 100%;
    margin: 0;
    padding-top: 72px;
    padding-bottom: 62px;
  }

  .statistics .mobile-about-image {
    display: none;
  }

  .statistics .tablet-about-image {
    display: block;
    width: 100%;
    height: 267px;
    object-fit: cover;
    padding-bottom: 63px;
  }

  .displayed-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 136px;
    margin: 0;
    padding-left: 39px;
  }

  .stat-group {
    max-width: 223px;
    width: 100%;
    margin: 0;
    text-align: left;
  }

  .line-mobile {
    display: none;
  }

  .line-tablet {
    display: block;
    width: 223px;
    height: 1px;
    color: var(--light-san-julian-blue);
    margin: 0;
    opacity: 0.25;
  }

  .stat-name {
    padding-top: 17px;
  }

  .about:last-child {
    padding-bottom: 58px;
  }
}