.empower {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 24px;
    text-align: center;
    gap: 44px;
}

h1 {
    font-family: var(--font-heading);
    font-size: var(--h3-large-size);
    font-weight: 400;
    color: var(--san-julian-blue);
    line-height: 36px;
    margin: auto;
    width: 327px;
}

h2 {
    font-family: var(--font-heading);
    font-size: var(--h4-size);
    font-weight: 400;
    color: var(--san-julian-blue);
    margin: 0;
    padding-bottom: 8px;
}

.about-text {
    font-family: var(--font-body);
    font-size: var(--body-font-size);
    font-weight: 500;
    color: var(--light-san-julian-blue);
    line-height: var(--body-line-height);
    margin: 0;
    padding-bottom: 19px;
    width: 327px;
}

.statistics {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 65px;
    padding-bottom: 48px;
    margin-bottom: 5px;
    gap: 13px;
}
.statistics img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.statistics hr {
    width: 87.2%;
    height: 1px;
    color: var(--light-san-julian-blue);
    margin-top: 48px;
    margin-bottom: 4px;
    opacity: 0.25;    
}

.stat-name {
    font-family: var(--font-body);
    font-size: 16px;
    font-weight: 500;
    color: var(--san-julian-blue);
    line-height: var(--body-line-height);
    margin: 0;
    padding-top: 13px;
    padding-bottom: 21px;
    opacity: 0.7;
}

.number {
    font-family: var(--font-heading);
    font-size: var(--h1-small-size);
    font-weight: 400;
    color: var(--dark-pink);
    height: 77px;
    margin: 0;
}

.statistics hr:last-child {
    margin-top: 0;
}

