.contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 24px;
}

h1 {
    font-family: var(--font-heading);
    font-size: var(--h3-large-size);
    color: var(--san-julian-blue);
    letter-spacing: -0.24px;
    height: 116px;
    margin-top: 14.45px;
}

.submit {
    display: flex;
    flex-direction: column;
}

.contact-form {
    display: flex;
    flex-direction: column;
    height: 499px;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
    background-color: var(--bodylightgrey);
    font-family: var(--font-body);
    font-size: var(--body-font-size);
    color: var(--san-julian-blue);
    font-weight: 400;
    opacity: 0.5;
    padding-left: 20px;
}

.contact-form input,
.contact-form textarea {
    border: none;
    border-bottom: 1px solid var(--san-julian-blue);
    margin-top: 24px;
}

.contact-form input {
    height: var(--input-height);
    padding-bottom: 22px;
}

.contact-form textarea {
    height: 89px;
}

.check {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    gap: 26px;
    padding-top: 24px;
    padding-bottom: 29px;
}

.check .updates {
    appearance: none;
    width: 24px;
    height: 24px;
    background: var(--san-julian-blue);
    opacity: 0.25;
    border: none;
}

label {
    color: var(--san-julian-blue);
    font-family: var(--font-body);
    font-size: var(--body-font-size);
    text-align: left;
    letter-spacing: -0.12px;
    height: 45px;
}

.submit button {
    width: 152px;
    height: var(--button-height);
    border-radius: var(--button-radius);
    color: var(--san-julian-blue);
    font-family: var(--font-body);
    font-size: var(--body-font-size);
    font-weight: 700;
    text-align: center;
    letter-spacing: -0.12px;
    opacity: 1;
    padding-left: 51px;
    padding-right: 49px;
}

.join {    
    width: 100%;
    padding-top: 87px;
}

h2 {
    font-family: var(--font-heading);
    font-size: var(--h4-size);
    color: var(--san-julian-blue);
    opacity: 0.75;
    margin-top: 0;   
    padding-bottom: 24px; 
    letter-spacing: 32;
    width: 327px;
}

.brands {
    max-width: 279.15px;
    height: 154px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 48px 24px 24px;
    row-gap: 35px;
    
    padding-right:24px;
}
.row1, .row2, .row3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 26px;
    width: 100%;    
}

.row1 {
    padding-top: 5.87px;
    gap: 40px;
}
.row2 { 
    gap: 40px
}
.row3 {
    gap: 71.54px;
}

svg {
    transform: scale(0.85);
    overflow: visible;
}

