.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	font-family: var(--font-body);
	background-color: var(--mirage-blue);
	width: 375px;
	height: 353px;
}

.footernav {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.footer-logo {
	color: var(--linkwater-white);
}

.footer-menu {
	display: flex;
	flex-direction: column;

	inset: 0 0 0 auto;
	padding: 43.97px 159px;
	gap: 32px;
}

.footer-menu a {
	text-decoration: none;
	color: var(--linkwater-white);
	font-size: var(--body-font-size15);
	font-weight: bold;
	opacity: 0.7;
}

.footer-menu a:hover {
	opacity: 1;
}

.footer-links {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	opacity: 1;
	gap: 24px;
}

.footer-links a {
	color: var(--linkwater-white);
}

.footer-links a:hover {
	color: var(--charm-pink);
}
