.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-body);
  background-color: var(--mirage-blue);
  width: 100%;
  height: 353px;
  position: relative;
  overflow: hidden;
  opacity: 1;
}

.footernav {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--linkwater-white);
  position: relative;
  z-index: 10;
  cursor: pointer;
}

.footer-logo svg {
  display: block;
  pointer-events: none;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  inset: 0 0 0 auto;
  padding: 43.97px 159px;
  gap: 32px;
}

.footer-menu a {
  text-decoration: none;
  color: var(--linkwater-white);
  font-size: var(--body-font-size15);
  font-weight: bold;
  height: 17px;
  opacity: 0.7;
  z-index: 100;
}

.footer-menu a:hover {
  opacity: 1;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: 1;
  gap: 24px;
}

.footer-links a {
  color: var(--linkwater-white);
  z-index: 100;
}

.footer-links a:hover {
  color: var(--charm-pink);
}

@media (min-width: 768px) and (max-width: 1439px) {
  .footer {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 31.76px 40px 31.47px 39.76px;
    gap: 138px;
  }

  .footernav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 430.24px;
    gap: 64.34px;
  }

  .footer-menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
    gap: 40px;
  }

  .footer-links {
    width: 120px;
    height: 24px;
  }

  .footer-links a {
    height: 24px;
  }

  .footer::after {
    content: "";
    position: absolute;    
    top: -95%;
    left: 91%;
    width: 768px;
    height: 200px;
    background: url("/assets/shared/desktop/bg-pattern-circle.svg") no-repeat
      top/ cover;
    z-index: 0;
    transform: translateX(-50%) translateX(40px);
  }
}

@media (min-width: 1440px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 36.29px 165px 31.47px 164.76px;
    gap: 138px;
  }

  .footernav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 430.24px;
    gap: 64.34px;
  }

  .footer-menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
    gap: 40px;
  }

  .footer-links {
    width: 120px;
    height: 24px;
  }

  .footer-links a {
    height: 24px;
  }
}
