.header {
  font-family: var(--font-body);
  background-color: var(--light);
  width: 100%;
  padding: 45.29px 24px 32.47px;
  position: relative;
  z-index: 20;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-logo {
  color: var(--san-julian-blue);
}

.menu-btn {
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.desktop-links {
  display: none;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0 0 0 auto;
  width: 300px;
  background-color: var(--mirage-blue);
  padding: 24px;
  gap: 32px;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  overflow: hidden;
}

.mobile-menu::before {
  content: "";
  position: absolute;
  width: 780px;
  height: 780px;
  background: url("/assets/shared/desktop/bg-pattern-circle.svg") no-repeat
    center / cover;
  z-index: 0;
  pointer-events: none;
}

.mobile-menu > * {
  position: relative;
  z-index: 1;
}

.mobile-menu.active {
  transform: translateX(0);
}

.mobile-menu hr {
  color: var(--linkwater-white);
  width: 84%;
  height: 1px;
  opacity: 0.7;
}

.mobile-menu a {
  color: var(--linkwater-white);
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  opacity: 0.7;
}

.mobile-menu a:hover {
  opacity: 1;
}

.close-btn {
  background: none;
  border: none;
  align-self: flex-end;
  color: var(--linkwater-white);
  opacity: 1;
  padding-top: 24.54px;
}

.close-btn img {
  width: 21.92px;
  height: 21.92px;
}

.mobile-menu .cta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: var(--dark-pink);
  color: var(--linkwater-white);
  font-size: var(--body-font-size);
  font-weight: 700;
  opacity: 1;
  text-align: center;
  border-radius: 24px;
  border: none;
  letter-spacing: -0.12px;
  height: var(--button-height);
  width: 252px;
}

.cta:hover {
  background-color: var(--charm-pink);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

@media (min-width: 768px) and (max-width: 1439px) {
  .header {
    width: 100%;
    padding: 40px 48px 55.47px 39.76px;
  }

  .menu-btn {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .desktop-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-left: 64.34px;
    cursor: pointer;
  }

  .nav-links {
    display: flex;
    gap: 40px;
  }

  .desktop-links a {
    text-decoration: none;
    color: var(--san-julian-blue);
    font-weight: 700;
    opacity: 0.7;
  }

  .desktop-links a:hover {
    opacity: 1;
  }

  .desktop-links .cta {
    position: absolute;
    top: 40px;
    right: 40px;
    padding-top: 16px;
    color: var(--linkwater-white);
    background-color: var(--dark-pink);
    border-radius: 24px;
    border: none;
    letter-spacing: -0.12px;
    height: var(--button-height);
    width: 173px;
  }
}

@media (min-width: 1440px) {
  .header {
    width: 100%;
    padding: 40px 165px 80px 165.76px;
  }

  .menu-btn {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .desktop-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-left: 64.34px;
    cursor: pointer;
  }

  .nav-links {
    display: flex;
    gap: 40px;
  }

  .desktop-links a {
    text-decoration: none;
    color: var(--san-julian-blue);
    font-weight: 700;
    opacity: 0.7;
  }

  .desktop-links a:hover {
    opacity: 1;
  }

  .desktop-links .cta {
    position: absolute;
    top: 40px;
    right: 165px;
    padding-top: 16px;
    color: var(--linkwater-white);
    background-color: var(--dark-pink);
    border-radius: 24px;
    border: none;
    letter-spacing: -0.12px;
    height: var(--button-height);
    width: 173px;
  }
}
