.header {
  padding: 40.76px 24px 152.47px;
  font-family: var(--font-body);

  background-color: var(--light);
  width: 326.24px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  color: var(--san-julian-blue);
}

.menu-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.desktop-links {
  display: none;
}

.mobile-menu {
  position: fixed;
  inset: 0 0 0 auto;
  /* width: 75%; */
  max-width: 300px;
  background-color: var(--mirage-blue);
  padding: 2rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.mobile-menu.active {
  transform: translateX(0);
}

.mobile-menu hr {
  color: var(--linkwater-white);
  width: 252px;
  height: 0.1px;
}

.mobile-menu a {
  color: var(--linkwater-white);
  text-decoration: none;
  font-size: 20px;
  opacity: 0.7;
}

.mobile-menu a:hover {
    opacity: 1;
}

.close-btn {
  background: none;
  border: none;
  align-self: flex-end;
}

.cta {
  background: var(--dark-pink);
  color: var(--linkwater-white);
  font-size: var(--message-font-size);
  opacity: 1;
  padding: 16px 36px 15px 38px;
  text-align: center;
  border-radius: 24px;
  letter-spacing: -0.12px;
  height: var(--button-height);
  width: 252px;
}

.cta:hover {
  background-color: var(--charm-pink);
}