.start_building {
	display: flex;
	flex-direction: column;
	padding-left: 24px;
	padding-right: 24px;
}

.start_building-img-wrapper {
	max-width: 124px;
	max-height: 239px;
	margin: 0 auto;
	order: 1;
}

.start_building-img {
	width: 100%;
	border-radius: 18px;
	box-shadow: 20px 10px 150px 0px rgba(0, 0, 0, 0.28);
}

.start_building-text {
	order: 2;
	h1 {
		font-size: var(--h3-large-size);
		line-height: var(--h3-large-line-height);
		font-family: var(--font-heading);
		text-align: center;
		letter-spacing: -0.25px;
		margin: 27px 0 13px 0;
		font-weight: 400;
		opacity: 1;
		color: var(--san-julian-blue);
	}
	form {
		display: flex;
		flex-direction: column;
		gap: 16px;
		width: 100%;
		max-width: 327px;
		margin: 0 auto;
	}
	form input {
		width: 100%;
		border-radius: 24px;
		padding: 16px 27px;
		font-size: 15px;
		line-height: 17px;
		font-family: var(--font-body);
		font-weight: 700;
		color: var(--san-julian-blue);
		border: none;
		opacity: 0.5;
		box-shadow: 18px 15px 30px 10px rgba(0, 0, 0, 0.278);
	}
	form button {
		width: 100%;
		opacity: 1;
		letter-spacing: -0.12px;
		font-size: 15px;
		line-height: 17px;
		font-family: var(--font-body);
		font-weight: 700;
		background-color: var(--button-pink-bg);
		color: var(--button-pink-text);
		border-radius: 24px;
		padding-top: 16px;
		padding-bottom: 15px;
		padding-left: 50px;
		padding-right: 46px;
		border: none;
	}
	p {
		font-size: 15px;
		line-height: 17px;
		font-family: var(--font-body);
		font-weight: 400;
		color: var(--light-san-julian-blue);
		margin: 24px 0 80px 0;
		a {
			font-weight: 700;
			color: var(--light-san-julian-blue);
			text-decoration: underline;
		}
	}

	.work_with {
		padding-left: 24px;
		padding-right: 24px;
		display: flex;
		flex-direction: column;
		background-color: var(--mirage-blue);
	}

	.work_with-text {
		order: 2;
		h2 {
			font-size: var(--h3-large-size);
			line-height: var(--h3-large-line-height);
			font-family: var(--font-heading);
			text-align: center;
			letter-spacing: -0.25px;
			font-weight: 400;
			opacity: 1;
			color: var(--linkwater-white);
			margin: 0 0 5px 0;
		}
		p {
			opacity: 0.7;
			color: var(--linkwater-white);
			font-size: var(--body-font-size);
			line-height: var(--body-line-height);
			letter-spacing: 0;
			font-family: var(--font-body);
			margin: 0;
			font-weight: 200;
		}
		a {
			border: 1px solid var(--linkwater-white);
			border-radius: 24px;
			opacity: 1;
			font-size: var(--body-font-size);
			line-height: 17px;
			color: var(--linkwater-white);
			padding-top: 16px;
			padding-bottom: 15px;
			padding-left: 31.5px;
			padding-right: 31.5px;
			margin-top: 68px;
			margin-bottom: 80px;
			display: inline-block;
			text-decoration: none;
		}
	}

	.work_with-logos {
		order: 1;
		margin: 0;
		padding: 0;
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 10px;
		row-gap: 40px;
		margin-top: 80px;
		margin-bottom: 61.5px;
		li {
			list-style: none;
			display: flex;
			align-items: center;
			justify-content: center;
			svg {
				color: var(--white);
				transform: scale(0.8);
			}
		}
	}

	.easy_implement {
		padding-left: 24px;
		padding-right: 24px;
	}
}
.easy_implement-img-wrapper {
	max-width: 328px;
	max-height: 209px;
	margin: 80px auto 0px;
	img {
		width: 100%;
	}
}

	.easy_implement-text {
		h2 {
			font-size: var(--h3-large-size);
			line-height: var(--h3-large-line-height);
			font-family: var(--font-heading);
			text-align: center;
			letter-spacing: -0.28px;
			font-weight: 400;
			opacity: 1;
			color: var(--san-julian-blue);
			margin: 47px 0 12px 0;
		}
		p {
			opacity: 1;
			color: var(--light-san-julian-blue);
			font-size: var(--body-font-size);
			line-height: var(--body-line-height);
			letter-spacing: 0;
			font-family: var(--font-body);
			margin: 0;
			font-weight: 300;
		}
	}

	.simple {
		padding-left: 24px;
		padding-right: 24px;
		margin-top: 88px;
		margin-bottom: 88px;
		img {
			width: 100%;
		}
	}

	.simple-text {
		h2 {
			font-size: var(--h3-large-size);
			line-height: var(--h3-large-line-height);
			font-family: var(--font-heading);
			text-align: center;
			letter-spacing: -0.28px;
			font-weight: 400;
			opacity: 1;
			color: var(--san-julian-blue);
			margin: 47px 0 12px 0;
		}
		p {
			opacity: 1;
			color: var(--light-san-julian-blue);
			font-size: var(--body-font-size);
			line-height: var(--body-line-height);
			letter-spacing: 0;
			font-family: var(--font-body);
			margin: 0;
			font-weight: 300;
		}
	}

.finances {
	padding-left: 24px;
	padding-right: 24px;
	div {
		h3 {
			font-size: var(--h3-small-size);
			line-height: var(--h3-small-line-height);
			font-family: var(--font-heading);
			text-align: center;
			letter-spacing: -0.14px;
			font-weight: 700;
			opacity: 1;
			color: var(--san-julian-blue);
			margin: 34px 0 18px 0;
		}
		p {
			opacity: 1;
			color: var(--light-san-julian-blue);
			font-size: var(--body-font-size);
			line-height: var(--body-line-height);
			letter-spacing: -0.12px;
			font-family: var(--font-body);
			margin: 0;
			font-weight: 300;
			margin-bottom: 56px;
			text-align: center;
		}
	}
}

@media (min-width: 768px) and (max-width: 1439px) {
	.start_building {
		padding-left: 97px;
		padding-right: 98px;
	}

	.start_building-img-wrapper {
		max-width: 156px;
		max-height: 299px;
	}
	.start_building-text {
		h1 {
			font-size: var(--h2-size);
			line-height: var(--h2-line-height);
			letter-spacing: -0.37px;
			margin: 54px 0 16px 0;
		}
		form {
			position: relative;
			display: flex;
			flex-direction: row;
			gap: 0;
			max-width: 445px;
			margin: 0 auto;
		}
		form input {
			border-radius: 999px;
			padding: 16px 27px;
			font-size: 15px;
			line-height: 17px;
			font-family: var(--font-body);
			font-weight: 700;
			color: var(--san-julian-blue);
			border: none;
			opacity: 0.5;
			box-shadow: 18px 15px 30px 10px rgba(0, 0, 0, 0.28);
		}
		form button {
			width: auto;
			position: absolute;
			right: 0;
			min-width: 173px;
			max-width: 445px;
			padding: 16px 24px;
		}
		p {
			font-size: 15px;
			line-height: 17px;
			font-family: var(--font-body);
			font-weight: 400;
			color: var(--light-san-julian-blue);
			margin: 24px 0 80px 0;
			a {
				font-weight: 700;
				color: var(--light-san-julian-blue);
				text-decoration: underline;
			}
		}
	}

	.work_with {
		padding-left: 24px;
		padding-right: 24px;
		display: flex;
		flex-direction: column;
		background-color: var(--mirage-blue);
	}

	.work_with-text {
		order: 2;
		h2 {
			font-size: var(--h3-large-size);
			line-height: var(--h3-large-line-height);
			font-family: var(--font-heading);
			text-align: center;
			letter-spacing: -0.25px;
			font-weight: 400;
			opacity: 1;
			color: var(--linkwater-white);
			margin: 0 0 5px 0;
		}
		p {
			opacity: 0.7;
			color: var(--linkwater-white);
			font-size: var(--body-font-size);
			line-height: var(--body-line-height);
			letter-spacing: 0;
			font-family: var(--font-body);
			margin: 0;
			font-weight: 200;
		}
		a {
			border: 1px solid var(--linkwater-white);
			border-radius: 24px;
			opacity: 1;
			font-size: var(--body-font-size);
			line-height: 17px;
			color: var(--linkwater-white);
			padding-top: 16px;
			padding-bottom: 15px;
			padding-left: 31.5px;
			padding-right: 31.5px;
			margin-top: 68px;
			margin-bottom: 80px;
			display: inline-block;
			text-decoration: none;
		}
	}

	.work_with-logos {
		order: 1;
		margin: 0;
		padding: 0;
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 10px;
		row-gap: 40px;
		margin-top: 80px;
		margin-bottom: 61.5px;
		li {
			list-style: none;
			display: flex;
			align-items: center;
			justify-content: center;
			svg {
				color: var(--white);
				transform: scale(0.8);
			}
		}
	}

	.easy_implement {
		padding-left: 24px;
		padding-right: 24px;
	}

	.easy_implement-img-wrapper {
		max-width: 328px;
		max-height: 209px;
		margin: 80px auto 0px;
		img {
			width: 100%;
		}
	}

	.easy_implement-text {
		h2 {
			font-size: var(--h3-large-size);
			line-height: var(--h3-large-line-height);
			font-family: var(--font-heading);
			text-align: center;
			letter-spacing: -0.28px;
			font-weight: 400;
			opacity: 1;
			color: var(--san-julian-blue);
			margin: 47px 0 12px 0;
		}
		p {
			opacity: 1;
			color: var(--light-san-julian-blue);
			font-size: var(--body-font-size);
			line-height: var(--body-line-height);
			letter-spacing: 0;
			font-family: var(--font-body);
			margin: 0;
			font-weight: 300;
		}
	}

	.simple {
		padding-left: 24px;
		padding-right: 24px;
		margin-top: 88px;
		margin-bottom: 88px;
		img {
			width: 100%;
		}
	}

	.simple-text {
		h2 {
			font-size: var(--h3-large-size);
			line-height: var(--h3-large-line-height);
			font-family: var(--font-heading);
			text-align: center;
			letter-spacing: -0.28px;
			font-weight: 400;
			opacity: 1;
			color: var(--san-julian-blue);
			margin: 47px 0 12px 0;
		}
		p {
			opacity: 1;
			color: var(--light-san-julian-blue);
			font-size: var(--body-font-size);
			line-height: var(--body-line-height);
			letter-spacing: 0;
			font-family: var(--font-body);
			margin: 0;
			font-weight: 300;
		}
	}

	.finances {
		padding-left: 24px;
		padding-right: 24px;
		div {
			h3 {
				font-size: var(--h3-small-size);
				line-height: var(--h3-small-line-height);
				font-family: var(--font-heading);
				text-align: center;
				letter-spacing: -0.14px;
				font-weight: 700;
				opacity: 1;
				color: var(--san-julian-blue);
				margin: 34px 0 18px 0;
			}
			p {
				opacity: 1;
				color: var(--light-san-julian-blue);
				font-size: var(--body-font-size);
				line-height: var(--body-line-height);
				letter-spacing: -0.12px;
				font-family: var(--font-body);
				margin: 0;
				font-weight: 300;
				margin-bottom: 56px;
				text-align: center;
			}
		}
	}
}
