.start_building {
	display: flex;
	flex-direction: column;
	padding-left: 24px;
	padding-right: 24px;
}

.start_building-img-wrapper {
	max-width: 124px;
	max-height: 239px;
	margin: 0 auto;
	order: 1;
}

.start_building-img-wrapper img {
	width: 100%;
	border-radius: 18px;
	box-shadow: 20px 10px 150px 0px rgba(0, 0, 0, 0.28);
}

.start_building-text {
	order: 2;
}

.start_building-text h1 {
	font-size: var(--h2-small-size);
	line-height: var(--h2-small-line-height);
	font-family: var(--font-heading);
	text-align: center;
	letter-spacing: -0.25px;
	margin: 27px auto 13px auto;
	font-weight: 400;
	opacity: 1;
	color: var(--san-julian-blue);
	max-width: 327px;
}

.start_building-text form {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;
	max-width: 327px;
	margin: 0 auto;
}

.start_building-text form input {
	width: 100%;
	border-radius: 24px;
	padding: 16px 27px;
	font-size: 15px;
	line-height: 17px;
	font-family: var(--font-body);
	font-weight: 700;
	color: var(--san-julian-blue);
	border: none;
	opacity: 0.5;
	box-shadow: 18px 15px 30px 10px rgba(0, 0, 0, 0.278);
}

.start_building-text form button {
	width: 100%;
	opacity: 1;
	letter-spacing: -0.12px;
	font-size: 15px;
	line-height: 17px;
	font-family: var(--font-body);
	font-weight: 700;
	background-color: var(--button-pink-bg);
	color: var(--button-pink-text);
	border-radius: 24px;
	padding-top: 16px;
	padding-bottom: 15px;
	padding-left: 50px;
	padding-right: 46px;
	border: none;
}

.start_building-text p {
	font-size: 15px;
	line-height: 17px;
	font-family: var(--font-body);
	font-weight: 400;
	color: var(--light-san-julian-blue);
	margin: 24px 0 80px 0;
}

.start_building-text p a {
	font-weight: 700;
	color: var(--light-san-julian-blue);
	text-decoration: underline;
}

.work_with {
	padding-left: 24px;
	padding-right: 24px;
	display: flex;
	flex-direction: column;
	background-color: var(--mirage-blue);
	margin: 0 auto;
}

.work_with-text {
	order: 2;
}
.work_with-text h2 {
	font-size: var(--h2-small-size);
	line-height: var(--h2-small-line-height);
	font-family: var(--font-heading);
	text-align: center;
	letter-spacing: -0.25px;
	font-weight: 400;
	opacity: 1;
	color: var(--linkwater-white);
	margin: 0 auto 5px auto;
	max-width: 327px;
}

.work_with-text p {
	opacity: 0.7;
	color: var(--linkwater-white);
	font-size: var(--body-font-size);
	line-height: var(--body-line-height);
	letter-spacing: 0;
	font-family: var(--font-body);
	margin: 0 auto 0 auto;
	font-weight: 200;
	max-width: 327px;
}

.work_with-text a {
	border: 1px solid var(--linkwater-white);
	border-radius: 24px;
	opacity: 1;
	font-size: var(--body-font-size);
	line-height: 17px;
	color: var(--linkwater-white);
	padding-top: 16px;
	padding-bottom: 15px;
	padding-left: 31.5px;
	padding-right: 31.5px;
	margin-top: 68px;
	margin-bottom: 80px;
	display: inline-block;
	text-decoration: none;
}

.work_with-logos {
	order: 1;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 10px;
	row-gap: 40px;
	margin: 80px auto 59px auto;
	max-width: 279.15px;
}

.work_with-logos li {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.work_with-logos li svg {
	color: var(--white);
	transform: scale(0.8);
}

.easy_implement {
	padding-left: 24px;
	padding-right: 24px;
	margin: 80px 0 0;
}

.easy_implement-img-wrapper {
	max-width: 328px;
	max-height: 209px;
	margin: 0 auto;
}

.easy_implement-img-wrapper img {
	width: 100%;
}

.easy_implement-text h2 {
	font-size: var(--h2-large-size);
	line-height: var(--h2-large-line-height);
	font-family: var(--font-heading);
	text-align: center;
	letter-spacing: -0.28px;
	font-weight: 400;
	opacity: 1;
	color: var(--san-julian-blue);
	margin: 47px auto 12px auto;
	max-width: 327px;
}

.easy_implement-text p {
	opacity: 1;
	color: var(--light-san-julian-blue);
	font-size: var(--body-font-size);
	line-height: var(--body-line-height);
	letter-spacing: 0;
	font-family: var(--font-body);
	margin: 0 auto 0 auto;
	font-weight: 300;
	max-width: 328px;
}

.simple {
	padding-left: 24px;
	padding-right: 24px;
	margin: 88px auto 88px auto;
}

.simple-img-wrapper {
	max-width: 328px;
	max-height: 290px;
	margin: 0 auto;
}

.simple-img-wrapper img {
	width: 100%;
}

.simple-text h2 {
	font-size: var(--h2-large-size);
	line-height: var(--h2-large-line-height);
	font-family: var(--font-heading);
	text-align: center;
	letter-spacing: -0.28px;
	font-weight: 400;
	opacity: 1;
	color: var(--san-julian-blue);
	margin: 47px auto 12px auto;
	max-width: 327px;
}

.simple-text p {
	opacity: 1;
	color: var(--light-san-julian-blue);
	font-size: var(--body-font-size);
	line-height: var(--body-line-height);
	letter-spacing: 0;
	font-family: var(--font-body);
	margin: 0 auto 0 auto;
	font-weight: 300;
	max-width: 328px;
}

.finances {
	padding-left: 24px;
	padding-right: 23px;
	margin: 88px auto 0 auto;
}

.finances div h3 {
	font-size: var(--h3-small-size);
	line-height: var(--h3-small-line-height);
	font-family: var(--font-body);
	color: var(--san-julian-blue);
	text-align: center;
	letter-spacing: -0.14px;
	font-weight: 700;
	opacity: 1;
	max-width: 328px;
	margin: 34px auto 18px auto;
}

.finances div:first-of-type h3 {
	margin: 35px auto 18px auto;
}

.finances div p {
	font-size: var(--body-font-size);
	line-height: 25px;
	font-family: var(--font-body);
	color: var(--light-san-julian-blue);
	letter-spacing: -0.12px;
	font-weight: 500;
	margin: 0 auto 53px auto;
	text-align: center;
	opacity: 1;
	max-width: 328px;
}

@media (min-width: 768px) and (max-width: 1439px) {
	.start_building {
		padding-left: 116px;
		padding-right: 116px;
	}

	.start_building-img-wrapper {
		max-width: 156px;
		max-height: 299px;
	}

	.start_building-text h1 {
		font-size: var(--h2-size);
		line-height: var(--h2-line-height);
		letter-spacing: -0.37px;
		margin: 54px auto 16px auto;
		max-width: 573px;
	}

	.start_building-text form {
		position: relative;
		display: flex;
		flex-direction: row;
		gap: 0;
		max-width: 445px;
		margin: 0 auto;
	}

	.start_building-text form input {
		border-radius: 999px;
		padding: 16px 27px;
		font-size: 15px;
		line-height: 17px;
		font-family: var(--font-body);
		font-weight: 700;
		color: var(--san-julian-blue);
		border: none;
		opacity: 0.5;
		box-shadow: 18px 15px 30px 10px rgba(0, 0, 0, 0.28);
	}

	.start_building-text form button {
		width: auto;
		position: absolute;
		right: 0;
		min-width: 173px;
		max-width: 445px;
		padding: 16px 24px;
	}

	.start_building-text p {
		font-size: 15px;
		line-height: 17px;
		font-family: var(--font-body);
		font-weight: 400;
		color: var(--light-san-julian-blue);
		margin: 16px 0 100px 0;
	}

	.start_building-text p a {
		font-weight: 700;
		color: var(--light-san-julian-blue);
		text-decoration: underline;
	}

	.work_with {
		padding-left: 116px;
		padding-right: 116px;
	}

	.work_with-text {
		padding-left: 39px;
		padding-right: 38px;
	}

	.work_with-text h2 {
		font-size: var(--h2-size);
		line-height: var(--h2-line-height);
		letter-spacing: -0.37px;
		margin: 0 auto 8px auto;
		max-width: 457px;
	}

	.work_with-text p {
		max-width: 456px;
		margin: 0 auto 0 auto;
	}

	.work_with-text a {
		margin-top: 40px;
		margin-bottom: 88px;
	}

	.work_with-logos {
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: 57px;
		row-gap: 39px;
		max-width: 536px;
		margin: 88px auto 70px;
		align-content: center;
	}

	.work_with-logos li svg {
		transform: scale(1);
	}

	.easy_implement {
		padding-left: 97px;
		padding-right: 98px;
		margin: 100px auto 0 auto;
	}

	.easy_implement-img-wrapper {
		max-width: 392px;
		max-height: 250px;
	}

	.easy_implement-text h2 {
		font-size: var(--h2-size);
		/* line-height: var(--h2-line-height); */
		line-height: 66px;
		letter-spacing: -0.37px;
		margin: 54px auto 8px auto;
		max-width: 573px;
	}

	.easy_implement-text p {
		max-width: 573px;
		margin: 0 auto 0 auto;
	}

	.simple {
		padding-left: 97px;
		padding-right: 98px;
		margin: 108px auto 0 auto;
	}
	.simple-img-wrapper {
		max-width: 362px;
		max-height: 320px;
		margin: 0 auto;
	}

	.simple-text h2 {
		font-size: var(--h2-size);
		/* line-height: var(--h2-line-height); */
		line-height: 66px;
		letter-spacing: -0.37px;
		margin: 54px auto 8px auto;
	}

	.simple-text p {
		max-width: 573px;
		margin: 0 auto 0 auto;
	}

	.finances {
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding-left: 39px;
		padding-right: 38px;
		margin: 108px auto 0 auto;
		text-align: center;
		gap: 9px;
	}

	.finances div h3 {
		margin: 34px 0 18px 0;
		max-width: 223px;
	}

	.finances div p {
		letter-spacing: -0.12px;
		font-weight: 400;
		margin: 0;
	}

	.finances div:first-of-type p {
		max-width: 223px;
	}

	.finances div:nth-of-type(2) p {
		max-width: 225px;
	}

	.finances div:last-of-type p {
		max-width: 227px;
	}

	.finances div svg {
		width: 88px;
		height: auto;
	}
}

@media (min-width: 1440px) {
	.start_building {
		flex-direction: row;
		padding-left: 165px;
		padding-right: 262.78px;
		padding-bottom: 75.57px;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	.start_building-img-wrapper {
		min-width: 262px;
		min-height: 499px;
		order: 2;
		margin: 0px 0px 0px 208.57px;
	}

	.start_building-text {
		max-width: 546px;
		max-height: 348px;
		text-align: left;
	}

	.start_building-text h1 {
		font-size: var(--h1-large-size);
		line-height: var(--h1-large-line-height);
		letter-spacing: -0.55px;
		margin: 0 auto 24px auto;
		text-align: left;
		max-width: 546px;
	}

	.start_building-text form {
		position: relative;
		display: flex;
		flex-direction: row;
		gap: 0;
		max-width: 445px;
		margin: 0;
	}

	.start_building-text form input {
		border-radius: 999px;
		padding: 16px 27px;
		font-size: 15px;
		line-height: 17px;
		font-family: var(--font-body);
		font-weight: 700;
		color: var(--san-julian-blue);
		border: none;
		opacity: 0.5;
		box-shadow: 18px 15px 30px 10px rgba(0, 0, 0, 0.28);
	}

	.start_building-text form button {
		width: auto;
		position: absolute;
		right: 0;
		min-width: 173px;
		max-width: 445px;
		padding: 16px 24px;
	}

	.start_building-text p {
		font-size: 15px;
		line-height: 17px;
		font-family: var(--font-body);
		font-weight: 400;
		color: var(--light-san-julian-blue);
		margin: 16px 0 100px 27px;
	}

	.start_building-text p a {
		font-weight: 700;
		color: var(--light-san-julian-blue);
		text-decoration: underline;
	}

	.work_with {
		padding-left: 165px;
		padding-right: 163px;
		flex-direction: row;
		gap: 131px;
		justify-content: center;
		align-items: center;
	}

	.work_with-text {
		padding: 0;
		order: 1;
		text-align: left;
	}

	.work_with-text h2 {
		font-size: var(--h2-size);
		line-height: var(--h2-line-height);
		letter-spacing: -0.37px;
		margin: 106px auto 8px auto;
		text-align: left;
		max-width: 445px;
	}

	.work_with-text a {
		margin-top: 40px;
		margin-bottom: 100px;
	}

	.work_with-text p {
		max-width: 445px;
		margin: 0 auto;
	}

	.work_with-logos {
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: 57px;
		row-gap: 39px;
		margin: 0;
		align-content: center;
		justify-content: center;
		max-width: 536px;
	}

	.work_with-logos li svg {
		transform: scale(1);
	}

	.easy_implement {
		padding-left: 165px;
		padding-right: 260px;
		margin: 150px auto 0 auto;
		display: flex;
		flex-direction: row;
		gap: 125px;
		justify-content: center;
	}

	.easy_implement-img-wrapper {
		max-width: 445px;
		max-height: 284px;
		margin: 0;
	}

	.easy_implement-text {
		margin: 0;
	}

	.easy_implement-text h2 {
		font-size: var(--h2-size);
		line-height: var(--h2-line-height);
		letter-spacing: -0.37px;
		margin: 66px auto 8px auto;
		max-width: 445px;
		text-align: left;
	}

	.easy_implement-text p {
		max-width: 445px;
		text-align: left;
	}

	.simple {
		padding-left: 165px;
		padding-right: 172px;
		margin: 150px auto 0 auto;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 97px;
	}
	.simple-img-wrapper {
		max-width: 563px;
		max-height: 499px;
		order: 2;
		margin: 0;
	}

	.simple-text h2 {
		font-size: var(--h2-size);
		line-height: var(--h2-line-height);
		letter-spacing: -0.37px;
		margin: 0 0 8px 0;
		max-width: 445px;
		text-align: left;
	}

	.simple-text p {
		max-width: 445px;
		text-align: left;
	}

	.finances {
		display: flex;
		flex-direction: row;
		padding-left: 0;
		padding-right: 0;
		margin: 146.57px auto 0 auto;
		max-width: 1111px;
		justify-content: space-between;
	}

	.finances div h3 {
		margin: 34px auto 18px auto;
	}

	.finances div p {
		margin: 0 auto 0 auto;
		max-width: 350px;
	}

	.finances div:last-of-type p {
		max-width: 352px;
	}

	.finances div svg {
		width: 106px;
		height: auto;
	}
}
