.pricing {
	padding-left: 24px;
	padding-right: 24px;
}

/* Pricing h1 */
h1 {
	font-size: var(--h2-small-size);
	line-height: var(--h2-small-line-height);
	font-family: var(--font-heading);
	font-weight: 400;
	width: 100%;
	color: var(--san-julian-blue);
	text-align: center;
	letter-spacing: -0.25px;
	opacity: 1;
	margin: 19px auto 0 auto;
}

/* Free plan h2*/
article header h2 {
	font-family: var(--font-heading);
	background-color: var(--light);
	width: 100%;
	color: var(--dark-pink);
	text-align: center;
	letter-spacing: -0.18px;
	font-size: var(--h4-size);
	opacity: 1;
	margin: 44px auto 9px auto;
}

article:first-of-type header h2 {
	margin: 48px auto 9px auto;
}
/* Free plan p */
p {
	opacity: 1;
	color: var(--light-san-julian-blue);
	font-size: var(--body-font-size);
	line-height: var(--body-line-height);
	letter-spacing: 0;
	font-family: var(--font-body);
	margin: 0;
	font-weight: 300;
	text-align: center;
}

.kaina_skaiciais {
	margin-top: 30px;
	margin-bottom: 30px;
}

.kaina_skaiciais span {
	font-family: var(--font-heading);
	width: 100%;
	color: var(--san-julian-blue);
	text-align: center;
	letter-spacing: -0.43px;
	font-size: var(--h1-small-size);
	line-height: var(--h1-large-line-height);
	opacity: 1;
}

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: var(--button-height);
	padding: 0 28px 0 27px;
	background-color: var(--button-dark-bg);
	color: var(--button-dark-text);
	border-radius: var(--button-radius);
	border: 1px solid var(--san-julian-blue);
	font-family: var(--font-body);
	font-size: var(--body-font-size);
	font-weight: 800;
	text-decoration: none;
	text-align: center;
	line-height: 17px;
	margin-top: 56px;
}

section article ul {
	text-align: left;
	display: flex;
	flex-direction: column;
	padding-left: 0;
	margin: 0 auto;
	width: fit-content;
	position: relative;
}

section article ul::before,
section article ul::after {
	content: '';
	position: absolute;
	left: -100px;
	width: 327px;
	height: 1px; /* linijos storis */
	background: var(--grey); /* spalva */
}

section article ul::before {
	top: -24px; /* 24px virš UL */
}

section article ul::after {
	bottom: -24px; /* 24px žemiau UL */
}

.free li:nth-of-type(-n + 3):before {
	content: url(../assets/shared/desktop/icon-check.svg);
	display: inline-block;
	width: 1em;
	margin-right: 24px;
}

.free li:nth-of-type(n + 4) {
	color: #97a8b7;
}

.free li:nth-of-type(n + 4):before {
	content: '';
	display: inline-block;
	width: 1em;
	margin-right: 24px;
	color: #97a8b7;
}

.basic li:nth-of-type(-n + 5):before {
	content: url(../assets/shared/desktop/icon-check.svg);
	display: inline-block;
	width: 1em;
	margin-right: 24px;
}

.basic li:nth-of-type(n + 6) {
	color: #97a8b7;
}

.basic li:nth-of-type(n + 6):before {
	content: '';
	display: inline-block;
	width: 1em;
	margin-right: 24px;
	color: #97a8b7;
}

.premium li:nth-of-type(-n + 7):before {
	content: url(../assets/shared/desktop/icon-check.svg);
	display: inline-block;
	width: 1em;
	margin-right: 24px;
}

li {
	font-family: var(--font-body);
	font-size: var(--body-font-size);
	line-height: var(--body-line-height);
	color: var(--san-julian-blue);
	margin-bottom: 12px;
	letter-spacing: 0px;
	opacity: 1;
	list-style: none;
}

li:last-of-type {
	margin-bottom: 0;
}

article:last-of-type button {
	margin-bottom: 16px;
}
