* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-left: 24px;
    padding-right: 24px;
    /* min-width galima keisti */
    min-width: 320px;
    width: 375px;
    text-align: center;
    background-color: var(--bodylightgrey);
}