* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
}

.container {
	min-width: 375px;
	background-color: var(--bodylightgrey);
	text-align: center;
}

@media (min-width: 768px) {
	.container {
		min-width: 768px;
	}
}
