* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 375px;
    text-align: center;
    background-color: var(--bodylightgrey);
}
